<div class="resume">
  <div class="resume-section">
    <h1 class="resume-section-title">formation</h1>
    <div class="resume-section-content">
      <div class="resume-section-content-title">Développeur web Javascript ReactJS, NodeJS​ - WILD CODE SCHOOL - Paris
        - Février – Juillet 2018</div>
      <div class="resume-section-content-detail">Apprentissage par la pratique autour de la réalisation de 3 projets
        :​<br>1
        site vitrine (HTML5, CSS3, Bootstrap)​
        <br>1 site avec back end en NodeJS (CRUD)​<br>1 projet client en ReactJS, NodeJS, PosrgreSQL et KnexJS​
      </div>
    </div>

    <div class="resume-section-content">
      <div class="resume-section-content-title">BTS Informatique de gestion Option Administrateur de réseaux​ - Lycée
        St Gabriel - Bagneux (92) - 2006 - 2008</div>
    </div>
  </div>

  <div class="resume-section">
    <h1 class="resume-section-title">experience</h1>
    <div class="resume-section-content">
      <div class="resume-section-content-title">Développeuse front-end​ - NIJI - Nantes - Septembre 2018 - Janvier 2019
        (stage)​</div>
      <div class="resume-section-content-detail">Refonte d'une plateforme web pour le groupe Manitou – Intégration des
        maquettes, développement de fonctionnalités. Travail en équipe, gestion de projet Agile.​
        <br>Technos: Angular 6, Sass​
      </div>
    </div>

    <div class="resume-section-content">
      <div class="resume-section-content-title">Webmaster - STIM MEDIA - Paris 13ème - 2012 - 2017</div>
      <div class="resume-section-content-detail">
        Agence de création et gestion de communautés professionnelles : L'Oréal Luxe Affaire Parfums, La Roche Posay,
        Biotherm, Skin Ceuticals​.<br>
        Gestion de projet : Suivi de projet, débug technique, fonctionnel, rédactionnel.​<br>
        Support technique : Assistance et gestion des incidents techniques. ​<br>
        Community Management : Modération et animation des forums, gestion d'évènements en ligne, rédaction de contenus
        éditoriaux. ​<br>
        Création et gestion d’emailings : Pilotage de la création et de l’envoi des newsletters. ​<br>
        Création et gestion de sites web avec Wordpress.​
      </div>
    </div>

    <div class="resume-section-content">
      <div class="resume-section-content-title">Technicienne support - Editions Hatier - Malakoff (92) - 2010 - 2012 ​
      </div>
      <div class="resume-section-content-detail">Manuels scolaires numériques : Support technique et assistance​<br>
        Mise en place d’un CRM d’aide en ligne ​sur Joomla<br>
        Management d’une équipe pendant les périodes de forte activité. ​
      </div>
    </div>

    <div class="resume-section-content">
      <div class="resume-section-content-title">Support Help Desk niveau 1 SOGETI - Réseaux des agences bancaires LCL - 2008 - 2012
      </div>
      <div class="resume-section-content-detail">Traitement des appels, assistance, résolution et suivi des incidents techniques.​
      </div>
    </div>

  </div>


</div>
